<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Financial Modelling</title>
    <link rel="stylesheet" href="web/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <h1 class="p-2">Financial Modelling</h1>
    <h3 class="p-2">All symbols</h3>
    <div class="table-responsive-lg px-2">
        <table class="table table-hover">
            <caption>List of symbols</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Num Records</th>
                    <th scope="col">Last Close Price</th>
                    <th scope="col">PE Data</th>
                </tr>
            </thead>
            <tbody>
                {stock_summaries}
            </tbody>
        </table>
    </div>
    <hr>
    <h3 class="px-2">Correlation report</h3>
    <div class="px-2 pb-2">
        Correlation values are based on last
        <span class="metric">{corr_num_records}</span> closing prices from
        <span class="metric">{corr_start_date}</span> to <span class="metric">{corr_end_date}.</span>
    </div>
    <div class="table-responsive-lg px-2">
        <table class="table table-hover">
            <caption>Correlated symbols</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Least correlated</th>
                    <th scope="col">Most correlated</th>
                </tr>
            </thead>
            <tbody>
                {corr_summaries}
            </tbody>
        </table>
    </div>
    <hr>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>