<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{symbol} - Financial Modelling</title>
    <link rel="icon" type="image/jpg" href="../../favicon.jpg">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <nav aria-label="breadcrumb" class="px-2 pt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{symbol}</li>
        </ol>
    </nav>
    <h2 class="px-2 text-center">{symbol}</h2>
    <div class="row p-2 row-section text-center">
        <p>Analysis based on <span class="metric">{num_records}</span> records from <span
                class="metric">{start_date}</span> to <span class="metric">{end_date}</span></p>
        <p>Last updated on <span class="metric">{today_date}</span></p>
        <p><a href="../../data/NSE/{symbol}/consolidated.parquet">Download data</a></p>
    </div>
    <div>
        <h4 class="px-2 pb-2 text-center">Historical performance</h4>
        <div class="table-responsive-lg px-2">
            <table class="table table-hover">
                <caption>Historical performance report</caption>
                <thead class="table-dark">
                    <tr>
                        {perf_period_size}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {perf_start_date}
                    </tr>
                    <tr>
                        {perf_net_returns}
                    </tr>
                    <tr>
                        {perf_avg_daily_returns}
                    </tr>
                    <tr>
                        {perf_median_close}
                    </tr>
                    <tr>
                        {perf_lowest_close}
                    </tr>
                    <tr>
                        {perf_highest_close}
                    </tr>
                    <tr class="{PE_available}">
                        {perf_median_PE}
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
    </div>
    <div>
        <h4 class="px-2 pb-2 text-center">Moving averages</h4>
        <div class="row ps-2 row-section">
            <div class="col-lg-12 col-xl-3 vert-center">
                <p>Last close price: <span class="metric">{last_close}</span></p>
                {ma_values}
            </div>
            <div class="col-lg-12 col-xl-9 text-center">
                <img src="../images/{symbol}/{symbol}_MA_Close_Price.png" class="plot_img">
            </div>
        </div>
        <hr>
    </div>
    <div>
        <h4 class="px-2 pb-2 text-center">Change from moving averages</h4>
        <div class="row ps-2 row-section">
            <div class="col-lg-12 col-xl-6 text-center">
                <img src="../images/{symbol}/{symbol}_Pcnt_Change_MA_15.png" class="plot_img">
            </div>
            <div class="col-lg-12 col-xl-6 text-center">
                <img src="../images/{symbol}/{symbol}_Pcnt_Change_MA_200.png" class="plot_img">
            </div>
        </div>
        <hr>
    </div>
    <div>
        <h4 class="px-2 pb-2 text-center">Distribution of Close price</h4>
        <div class="row ps-2 row-section">
            <div class="col-lg-12 col-xl-3 vert-center">
                <p>{first_hit_info}</p>
                <p class="{is_ATH}">Since then, it has closed over this price <span
                        class="metric">{pcnt_hits_of_last_close}</span> of
                    times
                    which is <span class="metric">{total_hits_of_last_close}</span> trading days.</p>
                <p class="{is_ATH}">{last_hit_info}</p>
            </div>
            <div class="col-lg-12 col-xl-9 text-center">
                <img src="../images/{symbol}/{symbol}_CDF_Close_Price.png" class="plot_img">
            </div>
        </div>
        <hr>
    </div>
    <div>
        <h4 class="px-2 pb-2 text-center">Average daily rolling returns</h4>
        <div class="row ps-2 row-section">
            <div class="col-lg-12 col-xl-6 text-center">
                <img src="../images/{symbol}/{symbol}_Avg_Rolling_Returns_200.png" class="plot_img">
            </div>
            <div class="col-lg-12 col-xl-6 text-center">
                <img src="../images/{symbol}/{symbol}_Avg_Rolling_Returns_1000.png" class="plot_img">
            </div>
        </div>
        <hr>
    </div>
    <div>
        <h4 class="px-2 pb-2 text-center">Streaks by candle types</h4>
        <div class="row ps-2 row-section">
            <div class="col-lg-12 col-xl-3 vert-center">
                <p>Last candle: <span class="metric {last_candle_color}">{last_candle} ({last_change})</span></p>
                <p>Overall percentage of
                    <span class="metric {last_candle_color}">{last_candle}</span> candles:
                    <span class="metric">{last_candle_overall_pcnt}</span>
                </p>
                <p>Current streak of
                    <span class="metric {last_candle_color}">{last_candle}</span> candles:
                    <span class="metric">{candle_streak}</span>
                </p>
                <p>Net change so far for the current streak:
                    <span class="metric {last_candle_color}">{curr_streak_returns}</span>
                </p>
                <p>Probability of streak continuing: <span class="metric">{streak_cont_prob}</span></p>
                <p>Longest streak of
                    <span class="metric {last_candle_color}">{last_candle}</span> candles:
                    <span class="metric">{longest_candle_streak}</span> trading days from
                    <span class="metric">{longest_candle_streak_start}</span> to
                    <span class="metric">{longest_candle_streak_end}</span>
                </p>
            </div>
            <div class="col-lg-12 col-xl-9 text-center">
                <img src="../images/{symbol}/{symbol}_Pcnt_Streak_Length.png" class="plot_img">
            </div>
        </div>
        <hr>
    </div>
    <div>
        <h4 class="px-2 pb-2 text-center">Performance by quarter</h4>
        <div class="row ps-2 row-section">
            <div class="col-lg-12 col-xl-6 text-center">
                <img src="../images/{symbol}/{symbol}_Pcnt_Green_Candles_Quarter.png" class="plot_img">
            </div>
            <div class="col-lg-12 col-xl-6 text-center">
                <img src="../images/{symbol}/{symbol}_Net_Returns_Candles_Quarter.png" class="plot_img">
            </div>
        </div>
        <hr>
    </div>
    <div>
        <h4 class="px-2 pb-2 text-center">Drawdown from ATH</h4>
        <div class="row ps-2 row-section">
            <div class="col-lg-12 col-xl-3 vert-center">
                <p>Current down from ATH:
                    <span class="metric color-red">{curr_pcnt_down_ath}</span>
                </p>
                <p>Most down from ATH:
                    <span class="metric color-red">{max_pcnt_down_ath}</span>
                </p>
                <p>ATH hits in last 1000 days:
                    <span class="metric color-green">{ath_hits_1000_days}</span>
                </p>
                <p>ATH was last hit on
                    <span class="metric">{last_ath_date}</span>.
                </p>
            </div>
            <div class="col-lg-12 col-xl-9 text-center">
                <img src="../images/{symbol}/{symbol}_Pcnt_Drawdown_ATH.png" class="plot_img">
            </div>
        </div>
        <hr>
    </div>
    <div>
        <h4 class="px-2 pb-2 text-center">Spearman correlation over moving averages</h4>
        <div class="row ps-2 row-section">
            <div class="col-lg-12 col-xl-6 text-center">
                <img src="../images/{symbol}/{symbol}_Close_Price_MA_S_1.png" class="plot_img">
            </div>
            <div class="col-lg-12 col-xl-6 text-center">
                <img src="../images/{symbol}/{symbol}_Close_Price_MA_S_2.png" class="plot_img">
            </div>
        </div>
        <hr>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>