.row-section{
    width: 100%;
}

.vert-center{
    align-content: center;
}

.metric{
    font-weight: bold;
}

.color-green{
    color:mediumseagreen;
}

.color-red{
    color:indianred;
}

.plot_img{
    border: 1px solid gray;
}