.row-section{
    width: 100%;
}

.vert-center{
    align-content: center;
}

.metric{
    font-weight: bold;
}

.color-green{
    color:mediumseagreen;
}

.color-red{
    color:indianred;
}

.plot_img{
    border: 1px solid gray;
    width: 100%;
    max-width: 900px;
}

.no_PE{
    display: none;
}

.is_ATH{
    display: none;
}